<div class="ui-g-12 ui-md-12" *ngIf="!quizView">
  <div class="ui-g-3 ui-md-3 ui-g-offset-9">
    <button type="text" (click)="createNewQuiz()" pButton label="New"></button>
  </div>
  <div class="ui-md-6 ui-g-6">
    Unpublished
  </div>
  <div class="ui-md-6 ui-g-6">
    Published
  </div>
</div>
<div class="ui-g-12 ui-md-12" *ngIf="quizView">
  <div class="ui-md-12 ui-g-12" style="text-align: right">
    <p-button label="Save" (onClick)="saveQuiz()"></p-button>
    <p-button label="Cancel" (onClick)="cancel()"></p-button>
  </div>
  <edfy-quiz [quiz]="newQuiz"></edfy-quiz>
  <div class="ui-md-12 ui-g-12" style="text-align: right">
    <p-button label="Save" (onClick)="saveQuiz()"></p-button>
    <p-button label="Cancel" (onClick)="cancel()"></p-button>
  </div>
</div>
